{% import 'print/_macros.html.twig' as m %}
{% set art = catalyst_image('covers', image) %}
<div class="page cover cover--recto" data-page-id="{{ pageId }}">
    <div class="cover__scaler">
        <div class="cover__inner">
            {% if art %}<div class="cover__art" style="background-image: url('{{ art }}'); background-position: 50% 16%"></div>{% endif %}
            <div class="cover__wash cover__wash--recto-radial"></div>
            <div class="cover__wash cover__wash--recto-linear"></div>
            <div class="grain"></div>
            {% if ornaments %}
                <div class="cover__frame"></div>
                <div class="cover__frame cover__frame--inner"></div>
            {% endif %}
            {% if eyebrow %}<div class="cover__eyebrow">{{ eyebrow }}</div>{% endif %}
            <div class="cover__headline">
                <h1 class="cover__title {{ titleClass }}">{{ title }}</h1>
                <div class="cover__rule"></div>
                {% if subtitle %}<div class="cover__subtitle">{{ subtitle }}</div>{% endif %}
            </div>
            <div class="cover__version">{{ m.hex_line([bookTypeLabel|trans, versionShort]) }}</div>
        </div>
    </div>
</div>
