{% extends 'base.html.twig' %}

{% block title %}{{ 'book.new.title'|trans }} · {{ 'app.name'|trans }}{% endblock %}

{% block crumb %}
    <span class="topbar__crumb-sep">❯</span>
    <span class="topbar__crumb topbar__crumb--current">{{ 'book.new.title'|trans }}</span>
{% endblock %}

{% block body %}
    <div class="page-head">
        <h1>{{ 'book.new.title'|trans }}</h1>
        <a class="btn btn--ghost" href="{{ path('app_book_index') }}">{{ 'action.cancel'|trans }}</a>
    </div>

    <div class="panel panel--narrow">
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.subtitle) }}
            {{ form_row(form.bookType) }}
            {{ form_row(form.versionMajor) }}
            {{ form_row(form.versionMinor) }}
            <div class="form-actions">
                <button class="btn btn--primary" type="submit">{{ 'book.new.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
