{% extends 'base.html.twig' %}

{% set separator = '•' %}

{% block title %}Export Old Skills{% endblock %}

{% block body %}
    <main class="max-w-6xl mx-auto px-4 py-8 print:max-w-full print:p-0">
        {#-- Header --#}
        <div class="flex items-center justify-between hide-print">
            <div>
                <p class="text-sm text-slate-400">
                    <a href="{{ path('admin_home') }}" class="hover:text-sky-300">Admin</a>
                    <span>/</span>
                    <a href="{{ path('admin_old_skill_index') }}" class="hover:text-sky-300">Old Skills</a>
                    <span>/</span>
                    <span class="text-slate-300">Export</span>
                </p>
                <h1 class="text-3xl font-semibold">Export Result {% if skills is not empty %}({{ skills|length }} skills){% endif %}</h1>
                <p class="text-mono text-sm">Export filters: {{ export_filters|json_encode() }}</p>
            </div>

            {#-- Actions --#}
            <div>
                <a class="btn btn-ghost" href="{{ path('admin_old_skill_export') }}">← New export</a>
                {% if hash %}
                    <button class="btn btn-info" onclick="navigator.clipboard.writeText('{{ url('admin_old_skill_export_hash', { hash: hash }) }}');" title="Copy export link to clipboard">
                        {{ ux_icon('heroicons:clipboard-document') }}
                        <span>Copy to clipboard</span>
                    </button>
                {% endif %}
            </div>
        </div>

        {% if skills is not empty %}
            <div class="gap-6 print:gap-0 print-columns my-4 print:my-0">
                {% set comp_verbal = 'skill.component.verbal'|trans({}, 'skills', export_locale)|u.slice(0,1)|upper %}
                {% set comp_somatic = 'skill.component.somatic'|trans({}, 'skills', export_locale)|u.slice(0,1)|upper %}
                {% set comp_material = 'skill.component.material'|trans({}, 'skills', export_locale)|u.slice(0,1)|upper %}

                {% for skill in skills %}
                    {% set hasLimitDetails = false %}
                    {% set hasEnergyDetails = false %}
                    {% set hasComponentDetails = false %}

                    {% set color = skill.type.color() %}
                    {% set iconKey = skill.type.icon() %}
                    {% set iconClass = skill.type.iconClass() %}

                    {% set ordered_tags = skill.tags %}

                    {#-- Skill Card --#}
                    <div class="avoid-break bg-{{ color }}-50 border-2 border-{{ color }}-900 text-{{ color }}-950 rounded-xl print:rounded-none p-6 w-full flex mb-2 flex-col gap-2 print:p-2 print:mb-0 print:border-0"> {# might add avoid-break #}
                        {#-- Exclusive skill code --#}
                        {% if skill.category == enum('App\\Enum\\SkillCategory').EXCLUSIVE %}
                            <span class="font-mono text-xs font-light">{{ skill.code }}</span>
                        {% endif %}

                        {#-- Header --#}
                        <div class="flex items-center gap-3 avoid-break">
                            {#-- Skill icon --#}
                            <img alt="" src="{{ skill.icon ?: 'https://placehold.co/90?text=?' }}" class="w-12 h-12 print:w-10 print:h-10 object-cover rounded-xl border border-slate-800" onerror="this.onerror=null; this.src='https://placehold.co/90?text=?';">

                            {#-- Skill name and type --#}
                            <div class="flex-1">
                                {#-- Skill name and abilities --#}
                                <h2 class="text-2xl print:text-sm font-semibold flex items-center gap-1">
                                    {{ skill.name }}
                                    {% if skill.isActionLike
                                        and skill.abilities is not null
                                        and skill.abilities is not empty
                                        and enum('App\\Enum\\Ability').NONE not in skill.abilities
                                    %}
                                        <span>{{ separator }}</span>
                                            <span class="flex items-center gap-1">
                                                {% for ability in skill.abilities %}
                                                    {% set aIcon = ability.icon() %}
                                                    {% if aIcon is not empty %}
                                                        {{ ux_icon(aIcon, {class: 'w-6 h-6 print:w-4 print:h-4'}) }}
                                                    {% endif %}
                                                {% endfor %}
                                        </span>
                                    {% endif %}
                                </h2>

                                {#-- Skill type and ultimate --#}
                                <span class="flex items-center gap-1 text-xs text-{{ color }}-900">
                                    {% if skill.isUltimate %}
                                        {{ ux_icon('game-icons:evil-wings') }}
                                        <p>{{ ('skill.label.ultimate')|trans({}, 'skills', export_locale) }}</p>
                                        <span>{{ separator }}</span>
                                    {% endif %}
                                    <p>{{ ('skill.type.' ~ skill.type.value)|trans({}, 'skills', export_locale) }}</p>
                                </span>
                            </div>

                            {#-- Skill type icon --#}
                            {{ ux_icon(iconKey, {class: 'w-8 h-8 print:w-6 print:h-6 text-' ~ color ~ '-900 ' ~ (iconClass|default('')) }) }}
                        </div>

                        {#-- Skill details --#}
                        <div class="p-1 rounded-md text-black bg-white space-y-2 print:space-y-0 text-sm print:text-[10px] leading-relaxed print:leading-none avoid-break">
                            <div class="flex flex-wrap gap-3 print:gap-1">
                                {% set detailsPrinted = 0 %}
                                {% set isAction = skill.isActionLike %}

                                {# Usage Limit #}
                                {% if skill.usageLimitAmount != 0 and skill.usageLimitPeriod != enum('App\\Enum\\SkillLimitPeriod').NONE %}
                                    <span>
                                        {{ skill.usageLimitAmount }} / {{ ('skill.limit_period.' ~ skill.usageLimitPeriod.value)|trans({}, 'skills', export_locale) }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}

                                {# Energy Cost #}
                                {% if isAction and skill.energyCost is not null %}
                                    {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}
                                    <span class="flex items-center gap-1">
                                        {{ ux_icon('mdi:thunder') }}
                                        {{ skill.energyCost }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}

                                {# Components #}
                                {% if isAction %}
                                    {% set components = [] %}
                                    {% if skill.hasTagCode('verbal') %}{% set components = components|merge([comp_verbal]) %}{% endif %}
                                    {% if skill.hasTagCode('somatic') %}{% set components = components|merge([comp_somatic]) %}{% endif %}
                                    {% if skill.hasTagCode('material') %}
                                        {% set materialLabel = comp_material ~ (skill.materials ? ' (' ~ skill.materials ~ ')' : '') %}
                                        {% set components = components|merge([materialLabel]) %}
                                    {% endif %}
                                    {% if components is not empty %}
                                        {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}

                                        <span class="flex items-center gap-1">
                                            {{ ux_icon('mdi:tools') }}
                                            {{ components|join(', ') }}
                                        </span>

                                        {% set detailsPrinted = detailsPrinted + 1 %}
                                    {% endif %}
                                {% endif %}

                                {# Duration #}
                                {% if skill.duration != enum('App\\Enum\\SkillDuration').NONE %}
                                    {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}

                                    <span class="flex items-center gap-1">
                                        {{ ux_icon('mdi:clock') }}
                                        {{ ('skill.duration.' ~ skill.duration.value)|trans({}, 'skills', export_locale) }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}

                                {# Range #}
                                {% if skill.range != enum('App\\Enum\\SkillRange').NONE %}
                                    {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}
                                    <span class="flex items-center gap-1">
                                        {{ ux_icon('game-icons:arrow-dunk') }}
                                        {{ ('skill.range.' ~ skill.range.value)|trans({}, 'skills', export_locale) }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}

                                {% if isAction and skill.hasConcentration %}
                                    {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}
                                    <span class="flex items-center gap-1">
                                        {{ ux_icon('game-icons:eyeball') }}
                                        {{ 'skill.label.concentration'|trans({}, 'skills', export_locale) }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}
                                
                                {% if isAction and skill.hasRitual %}
                                    {% if detailsPrinted > 0 %}<span>{{ separator }}</span>{% endif %}
                                    <span class="flex items-center gap-1">
                                        {{ ux_icon('game-icons:campfire') }}
                                        {{ 'skill.label.ritual'|trans({}, 'skills', export_locale) }}
                                    </span>
                                    {% set detailsPrinted = detailsPrinted + 1 %}
                                {% endif %}
                            </div>
                        </div>

                        {# Description #}
                        <div class="mt-2 print:mt-1 avoid-break flex flex-col gap-2">
                            <div class="whitespace-pre-line print:text-[10px]">{{ skill.description }}</div>

                            {#-- Skill tags --#}
                            {% if ordered_tags|length > 0 %}
                                <div class="flex flex-wrap gap-1 text-xs">
                                    {% for tag in ordered_tags %}
                                        <span class="px-2 py-1 bg-white text-{{ color }}-800 rounded-lg">
                                            {{ tag.label }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card p-6 text-slate-300">No skills match the current filters.</div>
        {% endif %}
    </main>
{% endblock %}
