{# Props: size, dot_size, glow_scale, count, show_glow, class, style #}
{% set _size = size is defined ? (size matches '/^\\d+$/' ? size ~ 'px' : size) : '100px' %}
{% set _dot  = dot_size is defined ? (dot_size matches '/^\\d+$/' ? dot_size ~ 'px' : dot_size) : 'calc(var(--gp-size) / 10)' %}
{% set _glow = glow_scale is defined ? glow_scale : 1 %}
{% set _count = count is defined ? count : 3 %}
{% set _show_glow = show_glow is defined ? show_glow : true %}

<div class="gp {{ class|default('') }}"
     style="--gp-size: {{ _size }}; --gp-dot: {{ _dot }}; --gp-glow: {{ _glow }}; {{ style|default('') }}">
  {% if _show_glow %}
    <div class="glow"></div>
  {% endif %}

  <div class="particles">
    <div class="rotate">
      {% for i in 1.._count %}
        <div class="angle">
          <div class="size">
            <div class="position">
              <div class="pulse">
                <div class="particle"></div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
