{% props links = [] %}

<nav class="hidden md:flex items-center gap-6 text-lg lg:text-sm text-zinc-300">
  {% for link in links %}
    <a
      href="{{ path(link.path)|default('#') }}"
      class="{{ link.class|default('hover:text-white hover:scale-110 ease-in-out transition duration-200') }}{% if link.active|default(false) %} text-white{% endif %}"
      {% if link.target is defined %} target="{{ link.target }}" {% endif %}
      {% if link.rel is defined %} rel="{{ link.rel }}" {% endif %}
      {% if link.aria_current is defined %} aria-current="{{ link.aria_current }}" {% endif %}
    >{{ link.label|trans()|default('') }}</a>
  {% endfor %}
</nav>